:root {
  --bg-color: #c5e4e7;
  --ltblue: rgba(79, 166, 175, 0.2007);
  --main: #00474b;
  --selected: #26c2ae;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.App {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  height: 100vh;
}

.main {
  display: flex;
  width: 100%;
  max-width: 920px;
  height: 481px;
  background: #ffffff;
  offset: 0px, 32px rgba(79, 166, 175, 0.2007);
  border-radius: 25px;
  margin-top: 2rem;
}

.input {
  width: 100%;
  color: #00474b;
  font-size: 24px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  height: 60px;
  background: #f3f9fa;
  border: none;
  border-radius: 5px;
  direction: rtl;
}

.bill {
  position: relative;
}

.dollar {
  position: absolute;
  left: 10px;
  top: 20px;
}

.input::placeholder {
  line-height: inherit;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.main-h3 {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.left,
.right {
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightbox {
  background: #00474b;
  width: 100%;
  max-width: 413px;
  height: 417px;
  border-radius: 15px;
}

.tip-grid {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 48px);
}

.tip-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00474b;
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.tip-grid-item:last-child {
  background: #F3F9FA;
  color: #547878;
}

.tip-grid-item:hover {
  background: #9FE8DF;
  color: #00474B;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.rightbox-top, .rightbox-mid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rightbox-submit {
  border: none;
  background-color: #26C2AE;
  color: #00474B;
  font-size: 20px;
  font-weight: 700;
  width: 80%;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.rightbox {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.rightbox h3 {
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
}

.rightbox p {
  font-size: 13px;
  color: #7F9D9F;
  font-weight: bold;
}

.rightbox h1 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #26C2AE;
}

@media only screen and (max-width: 500px) {
  .main {
    flex-direction: column;
    height: 100%;
  }
}